@import "functions";
@import "variables";

.search-bar {
    width: 100%;

    .form-outline {
        .bs-breakpoint-min(md, {
            width: 90%;
        });

        .bs-breakpoint-max(sm, {
            width: 80%;
        });
    }

    .search-btn {
        .bs-breakpoint-min(md, {
            width: 10%;
        });

        .bs-breakpoint-max(sm, {
            width: 20%;
        });
    }

    .search-bar-options {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.form-row {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    label * {
        width: fit-content;
    }

    input, textarea, select {
        width: unset;
        flex-grow: 1;
    }
}

.form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-field {
    .bs-breakpoint-max(sm, {
        width: 100%;
    });

    .bs-breakpoint-min(md, {
        width: 50%;
    });
}